
@{
    ViewData["Title"] = "Contact Us";
}
<h2>Свяжитесь с нами</h2>
<p>Если вы хотите вопросы с нами порешать то тыкайте на кнопку снизу и мы верим что вы сможете до нас достучаться)))</p>

<div>
    <span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </span>
    <email address="example@example.com" content="Отправить письмо"></email>
</div>
