@model IEnumerable<FavourNameIdDto>
@{
    ViewData["Title"] = "ManageFavours";
}
<h2>Управление Услугами</h2>
<br />
<div>
    <a asp-action="AddFavour" class="btn buy-now-btn">Добавить новую услугу</a>
</div>
<br />
<table class="table ">
    <thead>
        <tr>
            <th>Имя услуги</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var favour in Model)
        {
            <tr id="favour-@favour.Id">
                <td>@favour.Name</td>
                <td>
                    <a class="btn btn-link btn-no-effect" asp-action="EditFavour" asp-route-id="@favour.Id">изменить </a>
                </td>
            </tr>
        }
    </tbody>
</table>
}