
@{
    ViewData["Title"] = "CheckoutComplete";
}
<h2>Заказ принят!!!</h2>

<p>СПС что заказали нашу услугу.</p>

<br />
<p>
    Хош оплатить ещё?)
    <a href="/">Тыкни сюды</a>
</p>
<p>Or,</p>
<p>
    Чекни дедали своего заказа!
    <a href="/order/myOrder">Тыкни сюды</a>
</p>
