@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div>
    @Html.Partial("carousel")
</div>
<br />
<br />
<div class="weekly-getting">
    <h4>Услуги этой недели</h4>
    <p>потому что мы любим тортики)))</p>
</div>
<div class="row">
    @foreach (var favour in Model.FavourOfTheWeek)
    {
        @Html.Partial("FavourView", favour);
    }
</div>