

<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Категории
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" asp-controller="/service" asp-action="Phones">Пополнить Мобильный</a>
    <a class="dropdown-item" asp-controller="/service" asp-action="Internet">Пополнить Интернет</a>
    <a class="dropdown-item" asp-controller="/service" asp-action="Taxes">Оплатить Налоги</a>
    <a class="dropdown-item" asp-controller="/service" asp-action="Games">Пополнить Игровую Площадку</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-controller="/service" asp-action="">Все Услуги</a>
</div>
