@model FavoursListViewModel

@if (Model.Favours?.Count() > 0)
{
    <h1>@Model.CurrentCategory</h1>
    <div class="row">
        @foreach (var favour in Model.Favours)
        {
            @await Html.PartialAsync("FavourView", favour);
        }
    </div>
}
else
{
    <h1>Favours</h1>
    <p>Сорян! Мы не добавили категорию под названием '@Model.CurrentCategory' потому что мы не торгуем тем чем вы хотите :( </p>
}
